.actions {
  width: 100%;
  height: auto;
  padding-top: 135px;
  padding-left: 7.7%;
  padding-right: 7.7%;
  padding-bottom: 60px;
}

.actions__title {
  margin: 0;
  margin-bottom: 53px;
  text-align: center;
  font-family: $font-Bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-text-black;
}

.actions__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.actions__promo {
  width: 48.2%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.actions__promo-year {
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  color: $color-white;
}

.actions__promo-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  padding-left: 7.9%;
  padding-right: 7.9%;
  padding-top: 7.3%;
  padding-bottom: 8%;
  background-color: #ed0233;
}

.actions__promo-name {
  margin: 0;
  margin-bottom: 10%;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 100%;
  color: $color-white;
}

.actions__promo-description {
  display: block;
  margin: 0;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: $color-white;
}

.actions__promo-link {
  display: block;
  width: 79px;
  height: 18px;
  margin-top: auto;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  border-bottom: 1px solid $color-white;
}

.actions__promo-link:hover {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.actions__promo-link:active {
  outline: none;
}

.actions__promo-image {
  width: 50%;
  height: auto;
  background-color: #ed0233;
}

.actions__promo-picture {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}


.actions__list {
  width: 48.2%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 210px;
  max-height: 500px;
  margin-bottom: 10px;
  padding-top: 4.1%;
  padding-left: 4.5%;
  padding-bottom: 5%;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(160deg, #d10a42, #00359f);
}

.action__item:last-child {
  margin-bottom: 0;
}

.action__item-name {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 1.9%;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #1c3374;
}

.action__item-description {
  margin: 0;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #1c3374;
}

.action__item-link {
  display: block;
  width: 70px;
  height: 16px;
  margin-top: auto;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1c3374;
  border-bottom: 1px solid #1c3374;
}

.action__item-link:hover {
  color: rgba(28, 51, 116, 0.5);
  border-bottom: 1px solid rgba(28, 51, 116, 0.5);
}

.action__item-link:active {
  outline: none;
}

//---------- switching --------
.picture__middle,
.picture__small {
  display: none;
}

@media (max-width: $tablet-width) {
  .actions {
    width: 100%;
    height: auto;
    padding-top: 128px;
    padding-left: 5.7%;
    padding-right: 5.7%;
    padding-bottom: 40px;
  }

  .actions__title {
    margin: 0;
    margin-bottom: 42px;
    font-size: 42px;
    line-height: 42px;
  }

  .actions__container {
    display: block;
  }

  .actions__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .actions__promo-wrapper {
    width: 41%;
    height: auto;
    padding-left: 7%;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 7%;
    background-color: #ed0233;
  }

  .actions__promo {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    background-color: #ed0233;
  }

  .actions__promo-image {
    width: 59%;
  }

  .actions__promo-picture {
    width: 100%;
    height: auto;
  }

  .action__item {
    width: 47.9%;
    min-height: 210px;
    margin-bottom: 0;
    padding-top: 3.1%;
    padding-left: 4.5%;
    padding-bottom: 30px;
  }

  .action__item:nth-child(1) {
    padding-right: 10%;
  }

  .action__item-name {
    margin-bottom: 3%;
  }

  .picture__big {
    display: none;
  }

  .picture__middle {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .actions {
    padding-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 43px;
  }

  .actions__title {
    margin: 0;
    margin-bottom: 46px;
    font-size: 32px;
    line-height: 32px;
  }

  .actions__promo {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .actions__promo-wrapper {
    width: 100%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
    padding-bottom: 46px;
  }

  .actions__promo-year {
    text-align: center;
  }

  .actions__promo-image {
    width: 100%;
    height: auto;
  }

  .actions__promo-name {
    text-align: center;
    margin-bottom: 17px;
  }

  .actions__promo-description {
    text-align: center;
    margin-bottom: 32px;
  }

  .actions__promo-link {

    margin: 0 auto;
    font-size: 14px;
    line-height: 16px;
  }

  .actions__list {
    flex-direction: column;
  }

  .action__item {
    width: 100%;
    min-height: 210px;
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .action__item:nth-child(1) {
    padding-right: 0;
    margin-bottom: 33px;
  }

  .action__item-name {
    text-align: center;
    margin-bottom: 10px;
  }

  .action__item-description {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 26px;
  }

  .action__item-link {
    margin: 0 auto;
  }
  //---------- switching ---------
  .picture__middle {
    display: none;
  }

  .picture__small {
    display: block;
  }
}
