.footer {
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  background-color: #030a1a;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.footer__logo {
  display: flex;
  margin-right: auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 68.5%;
  height: auto;
  display: flex;
  justify-content: flex-end;

  flex-wrap: wrap;
  height: auto;
  margin-left: 0;
  list-style: none;
}

.navigation-list__item {
  display: inline-block;
  margin-left: 40px;
}

.navigation-list__item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.navigation-list__link {
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
  margin-right: 10px;
}

.navigation-list__link:last-child {
  margin-right: 0;
}

.navigation-list__link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navigation-list__link:active {
  outline: none;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.footer-social__item {
  display: block;
  margin-bottom: 10px;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__button:hover svg path {
  fill: rgba(255, 255, 255, 0.5);
}

.footer-social__button:active {
  outline: none;
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 5.5%;
    padding-right: 5.5%;
    background-color: #030a1a;
  }

  .footer__logo {
    width: 82px;
    height: 18px;
    margin-right: 45px;
  }

  .navigation-list {
    width: 79%;
  }

  .navigation-list__item {
    margin-right: 31px;
    margin-left: 0;
  }

  .navigation-list__item:last-child {
    margin-right: 0;
  }

  .footer-social {
    width: 100px;
    justify-content: space-between;
    margin-left: auto;
  }

  .footer-social__item {
    margin-top: 10px;
  }
}


@media (max-width: $mobile-width) {
  .footer-wrapper {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navigation-list {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navigation-list__item {
    width: 45%;
    margin-bottom: 23px;
  }

  .navigation-list__item:nth-child(1) {
    order: 1;
  }

  .navigation-list__item:nth-child(2) {
    order: 3;
  }

  .navigation-list__item:nth-child(3) {
    order: 5;
  }

  .navigation-list__item:nth-child(4) {
    order: 2;
  }

  .navigation-list__item:nth-child(5) {
    order: 4;
  }

  .navigation-list__item:nth-child(6) {
    order: 6;
  }


  .navigation-list__link {
    font-size: 16px;
    line-height: 19px;
    margin-right: 0;
  }

  .footer__logo {
    width: 68px;
    height: 15px;
    margin-right: 0;
  }

  .footer-social {
    width: 140px;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
  }
}
