.reviews {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 55px;
  padding-bottom: 120px;
}


.reviews__title {
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-family: $font-Bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-text-black;
}

.wrapper {
  display: flex;
  position: relative;
  width: 41%;
  min-height: 242px;
  margin: 0 auto;
}

.reviews__slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 4.5%;
  padding-right: 4.5%;
  padding-top: 60px;
  background: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.slide__01 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.slide__02 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}


.reviews__avatar {
  width: 25%;
  height: 85px;
}

.reviews__avatar-picture {
  width: 85px;
  height: 85px;
  vertical-align: bottom;
  border: 2px solid #1c3374;
  border-radius: 50%;
}

.reviews__content {
  width: 75%;
  height: auto;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 10px;
}

.reviews__content-name {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 17px;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: $color-white;
}

.reviews__content-text {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: $color-white;
}


//---------- Slider ---------
.prev,
.next {
  position: absolute;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 18px;
  height: 34px;
  cursor: pointer;
  z-index: 10000000;
}

.prev:hover,
.next:hover {
  opacity: 0.4;
}

.prev:active,
.next:active {
  outline: none;
}

.prev {
  top: 50.3%;
  left: 0%;
  background-image: url("../img/icon_arrow-left_desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.next {
  top: 50.3%;
  right: 0%;
  background-image: url("../img/icon_arrow-right_desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

@media (max-width: $tablet-width) {
  .reviews {
    padding-top: 55px;
    padding-bottom: 100px;
  }

  .reviews__title {
    margin: 0;
    margin-bottom: 45px;
    font-size: 42px;
    line-height: 42px;
  }

  .wrapper {
    width: 74%;
    min-height: 240px;
  }

  .reviews__slide {
    display: flex;
    width: 100%;
    height: auto;
    padding-left: 8.5%;
    padding-right: 8.5%;
    padding-top: 55px;
    padding-bottom: 3%;
  }

  .reviews__avatar-picture {
    width: 85px;
    height: 85px;
  }

  .prev {
    left: 5.3%;
  }

  .next {
    right: 5.3%;
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    padding-top: 25px;
    padding-bottom: 67px;
  }

  .reviews__title {
    font-size: 32px;
    line-height: 32px;
  }

  .wrapper {
    width: 70%;
    min-height: 240px;
  }

  .reviews__slide {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 10px;
  }

  .slide__01 {
    background-image: url("../img/reviews_avatar-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 68px 68px;
    background-position: 25% 40px;
  }

  .slide__02 {
    background-image: url("../img/Avatar_80x80.png");
    background-repeat: no-repeat;
    background-size: 68px 68px;
    background-position: 25% 40px;
  }

  .reviews__avatar {
    display: none;
  }

  .reviews__content {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }

  .reviews__content-name {
    width: 80px;
    display: block;
    margin-left: 55%;
    line-height: 120%;
    margin-bottom: 27px;
  }

  .reviews__content-text {
    width: 100%;
    text-align: center;
  }

  .prev {
    width: 10px;
    height: 19px;
    top: 51.3%;
    left: 5.1%;
  }

  .next {
    width: 10px;
    height: 19px;
    top: 51.3%;
    right: 5.1%;
  }
}
